<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Select the type of ML Algo</h1>
<form method="POST">    
    <div class="half">
        <input type="radio" name="option" value="rdf" /> Random Forest Regressor            
    </div>
    <div class="first">
        <input type="radio" name="option" value="knn" /> KNN Regressor           
    </div>
	<div class="second">
        <input type="radio" name="option" value="lasso" /> Lasso Regressor           
    </div>
	<div class="third">
        <input type="radio" name="option" value="lassoCV" /> Lasso CV Regressor           
    </div>
	<div class="fourth">
        <input type="radio" name="option" value="linear" /> Linear Regressor           
    </div>
	
	<p><input type="submit" value="Submit"> </p>
        
</form>


   <br>
   <br>

 </div>


</body>
</html>